<div class="ui container formulario">

  <form class="ui form">

    <h2 class="ui dividing header">Nuevo Empleado</h2>

    <div class="field">
      <input type="text" name="nombres" placeholder="Nombres">
    </div>

    <div class="field">
      <input type="text" name="apellido" placeholder="Apellido">
    </div>

    <div class="field">
      <input type="text" name="direccion" placeholder="Dirección">
    </div>

    <div class="field">
      <input type="text" name="email" placeholder="Email">
    </div>

    <div class="field">
      <input type="password" name="password" placeholder="Contraseña">
    </div>

    <button class="fluid ui button primary" type="submit">Registrar</button>
  </form>

</div>