<div class="ui container formulario">

  <form [formGroup]="formulario" (ngSubmit)="registrar()" class="ui form">

    <h2 class="ui dividing header">Nuevo Empleado</h2>

    <div class="field" [ngClass]="{'error': formulario.controls['nombres'].errors && formulario.controls['nombres'].touched }">
      <input formControlName="nombres" type="text" name="nombres" placeholder="Nombres">
    </div>

    <div class="field" [ngClass]="{'error': formulario.controls['apellidos'].errors && formulario.controls['apellidos'].touched }">
      <input formControlName="apellidos" type="text" name="apellidos" placeholder="Apellidos">
    </div>

    <div class="field" [ngClass]="{'error': formulario.controls['direccion'].errors && formulario.controls['direccion'].touched }">
      <input formControlName="direccion" type="text" name="direccion" placeholder="Dirección">
    </div>

    <div class="field" [ngClass]="{'error': formulario.controls['email'].errors && formulario.controls['email'].touched }">
      <input formControlName="email" type="text" name="email" placeholder="Email">
    </div>

    <div class="field" [ngClass]="{'error': formulario.controls['password'].errors && formulario.controls['password'].touched }">
      <input formControlName="password" type="password" name="password" placeholder="Contraseña">
    </div>

    <button class="fluid ui button primary" type="submit">Registrar</button>

    <!-- Mensajes de errores -->
    <div class="ui message" *ngIf="onSubmit && formulario.invalid">
      <div class="header">Existen errores</div>
      <ul class="list">
        <li *ngIf="formulario.get('nombres').errors?.required">No ingreso nombres.</li>
        <li *ngIf="formulario.get('apellidos').errors?.required">No ingreso apellidos.</li>
        <li *ngIf="formulario.get('direccion').errors?.required">No ingreso dirección.</li>
        <li *ngIf="formulario.get('email').errors?.required ">No ingreso email.</li>
        <li *ngIf="formulario.get('password').errors?.required ">No ingreso password.</li>
        <li *ngIf="formulario.get('email').errors?.pattern ">El correo no tiene formato correcto.</li>
      </ul>
    </div>

  </form>

</div>

{{formulario.valid}}